body {
  background-color: #bbb;
  margin: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
}
.description {
  text-align: center;
}
.pass {
  display: flex;
  flex-wrap: wrap;
  width: 100 px;
}
