body {
  background-color: rgb(207, 205, 205);
  margin: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex2 {
  display: flex;
}
.description {
  text-align: center;
}
.pass {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
}
.logout {
  display: flex;
  justify-content: flex-end;
}
.img {
  width: 10px;
  height: 10px;
}

.imageResize {
  width: 100px;
  height: 90px;
}
.modal-body {
  background-color: rgba(0, 0, 0, 0.5); /* black with some transparency */
  height: 100vh; /* take up the whole width of the screen */
  width: 100vw; /* take up the whole height of the screen */
  position: fixed; /* The element is positioned at the top left of the screen */
  display: flex; /* we want to center the child div*/
  align-items: center; /* center the child div horizontally*/
  justify-content: center; /* center the child div vertically */
}
.modal-container {
  padding: 100px;
  background-color: white;
}
