@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
body {
  /* background-color: rgb(207, 205, 205);*/
  /* background-color: rgb(129, 120, 120); */
  /* background-color: rgb(209, 208, 208); */
  /* background-color: #e9f1f7; */
  background-color: #e9f1f7;
  margin: 0;
}

a:link {
  text-decoration: none;
  /* color: rgb(211, 205, 205); */
  color: #131b23;
}
a:visited {
  text-decoration: none;
  /* color: rgb(211, 205, 205); */
  color: #131b23;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #a64253;
  color: whitesmoke;
}

.center-flex {
  display: flex;
  justify-content: center;
}
.description {
  margin-top: 8%;
  text-align: center;
  font-size: 1.2em;
}

.logout {
  display: flex;
  justify-content: center;
  height: 35px;
  padding-top: 10px;
}
.img {
  width: 200px;
  height: 200px;
  margin-top: 25px;
  margin-left: 30%;
}

.imageResize {
  border: 1px solid;
  width: 17%;
  height: 17%;
  /* padding-left: 20px;
  padding-right: 20px; */
}
.modal-body {
  background-color: rgba(0, 0, 0, 0.5); /* black with some transparency */
  height: 100vh; /* take up the whole width of the screen */
  width: 100vw; /* take up the whole height of the screen */
  position: fixed; /* The element is positioned at the top left of the screen */
  display: flex; /* we want to center the child div*/
  align-items: center; /* center the child div horizontally*/
  justify-content: center; /* center the child div vertically */
  right: 0;
  top: 0;
}
.modal-container {
  padding: 100px;
  background-color: white;
}
.account {
  display: flex;
}
.accountinfos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #e7dfc6;
  padding-left: 50px;
  margin-top: 25px;
  width: 50%;
  margin-left: 10%;
}

.findSportBar {
  background-color: #e9f1f7;
  margin-top: 10%;
  justify-content: space-between;
  /* text-align: center; */
  height: 555px;
}
.mainPageLinks {
  position: relative;
  /* padding: 50px; */
  padding-left: 50px;
  padding-right: 50px;
  height: 100px;
  width: 100px;
  /* text-align: center; */
}

/* .mainPageLinks::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #3cefff;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.mainPageLinks:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
} */

.mostRecentThreads {
  padding: 5px;
  margin: 5px;
  /* text-align: center; */
  width: 25%;
}

.itemPicturesFrontPage {
  padding: 20px;
}

.centerLinks {
  text-align: center;
}

.frontPageSportImage {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.fit-image {
  object-fit: contain;
}

.centerHeader {
  text-align: center;
  /* margin-top: 50px; */
}

.centerSecondHeader {
  text-align: center;
  margin-top: 110px;
}
.threadTitle {
  /* border: ridge 10px;
  border-color: #e7dfc6; */
  /* justify-content: space-between;
    text-decoration: none; */
  background-color: #e7dfc6;
  padding-top: 35px;
  padding-left: 80px;
  display: flex;
  text-align: center;
  height: 70px;
  margin: 45px;
  margin-left: 150px;
  margin-right: 230px;
  color: white;
  font-size: 1.4em;
  font-family: "IBM Plex Sans", sans-serif;
}
.titleofthread {
  font-size: 0.65em;
}
.thread {
  /* border: ridge 10px;
    border-color: #e7dfc6; */

  text-decoration: none;
  background-color: #e7dfc6;
  display: flex;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.replies {
  /* border: solid 1px; */
  text-decoration: none;
  display: flex;
  background-color: #e9f1f7;
  width: 93.5%;
  margin: 10px;
  width: 900px;
  margin-left: 70px;
  padding: 10px;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.thread-user {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: blue;
}
.userdetails {
  border: solid 2px;
  padding: 10px;
  color: black;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.userimg {
  height: 30px;
  width: 30px;
}
.all-threads {
  justify-content: space-between;
  margin-bottom: 300px;
}
.thread-title {
  text-align: center;
  position: absolute;
  color: black;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  font-size: 300%;
}
.thread-img {
  height: 550px;
  width: 100%;
  object-fit: cover;
  opacity: 0.7;
}
.top-bar {
  border-width: 5px;
}

.front-page-threads {
  border: solid 1px;
  text-decoration: none;
  margin: 15px 0;
  padding: 5px;
  color: #a64253;
}

.proxima-nova-font {
  font-family: "proxima-nova", sans-serif;
  color: #131b23;
  /* text-align: center; */
}
.bigger-font {
  font-size: 1.3em;
}

.most-recent-flex {
  display: flex;
  margin-left: 50px;
}

.most-recent-items {
  align-content: center;
  text-align: center;
  justify-content: center;
  margin-left: 250px;
  margin-top: 700px;
}

.frontPageThreads {
  display: flex;
}

.singleFrontPageThread {
  /* border: solid 1.5px;
  border-style: double; */
  width: 20%;
  /* text-align: center; */
  margin: 1%;
  height: 10%;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-color: black;
  background-color: #e7dfc6;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* border-radius: 5%; */
  font-family: benton-sans, sans-serif;
}
.singleFrontPageThread {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.3);
}
.text-area {
  width: 100%;
  height: 60px;
  margin: 0 200px 0 0;
}
.delete {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  margin-right: 0px;
}

.image-front-page {
  /* padding: 5px; */
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.image-front-page:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.image-front-page-center {
  justify-content: center;
  text-align: center;
}

.thread-title-display {
  margin-left: 2%;
  margin-top: 5%;
}
.textboth {
  display: flex;
  justify-content: center;
}
.signup {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.pass {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  margin: 8px;
}
.white-font {
  color: #e9f1f7;
}

.button-move {
  align-content: right;
  margin-top: 2%;
  margin-right: 2%;
}

.move-location {
  margin-left: 2%;
  margin-top: 2%;
}
.style-replies {
  margin: 0 300px 0 150px;
}

.seller-item-image {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-left: 20%;
}
.title {
  margin-top: 3%;
  margin-left: 10px;
  margin-right: 10px;
}
.move {
  display: flex;
  justify-content: space-between;
}

.background-color-hockey {
  background-color: white;
  opacity: 0.75;
  border-radius: 2px;
  padding: 10px;
}
.message {
  padding: 3%;
}
.filterlocation {
  display: flex;
  padding: 5px;
}
